* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.tetbai7 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.lef {
  width: 25%;
  height: 100vh;
  background-color: white;
  padding: 40px 30px;
  position: sticky;
  top: 0;
}
.lef .img1 {
  width: 45%;
  padding: 20px 0;
}
.img1 img {
  width: 100%;
}
.lef1 {
  font-size: 25px;
  margin: 10px 0;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.lef2 {
  margin: 15px 0;
  padding: 20px 0;
}
.lef2 a {
  font-size: 25px;
  text-decoration: none;
  background-color: rgb(185, 185, 172);
  color: black;
}
.lef3 {
  margin: 15px 0;
  padding-bottom: 20px;
}
.lef3 a {
  font-size: 25px;
  text-decoration: none;
  color: rgb(0, 150, 136);
}
.lef3a {
  margin: 15px 0;
  padding-bottom: 20px;
}
.lef3a a {
  font-size: 25px;
  text-decoration: none;
  color: black;
}
.lef3b {
  margin: 15px 0;
  padding-bottom: 20px;
}
.lef3b a {
  font-size: 25px;
  text-decoration: none;
  color: black;
}
.lef4 {
  font-size: 25px;
}
.lef4 .icon {
  padding-right: 10px;
}
.lef4 .icon:hover {
  opacity: 0.6;
  cursor: pointer;
}
.right {
  width: 75%;
  background-color: #f1f1f1;
  margin: auto;
}
.khoi1 {
  padding: 30px;
}
.right1 {
  padding-bottom: 20px;
  border-bottom: 5px solid rgb(219, 219, 202);
}
.right h1 {
  padding-bottom: 40px;
  font-size: 50px;
  margin: 10px 0;
}
.filter {
  font-size: 25px;
  margin: 16px 0;
}
.filter button {
  border: none;
  font-size: 20px;
  padding: 8px 24px;
}
.filterall {
  background-color: black;
  color: white;
}
.filtericon {
  background-color: white;
}
.filter button:hover {
  background-color: rgb(219, 219, 202);
  cursor: pointer;
}
.right2a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.right2a1 {
  width: 32%;
  background-color: white;
}
.right2a1 img {
  width: 100%;
}
.right2a1 img:hover {
  opacity: 0.6;
  cursor: pointer;
}
.right2ap {
  font-size: 25px;
  padding: 15px;
  font-weight: bold;
}
.right2ap1 {
  padding: 0 15px;
  font-size: 25px;
}
.right3 {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  padding: 40px 0;
}
.right3a {
  padding: 10px 20px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.right3b {
  font-size: 20px;
  color: white !important;
}
.right3b a {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  background-color: black;
}
.right3a:hover {
  background-color: black;
  color: white;
}
.right4 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.right4a {
  width: 49%;
}
.right4b {
  width: 49%;
  opacity: 0.6;
}
.right5 {
  padding: 40px 0;
}
.right5 h2 {
  padding-bottom: 20px;
  margin: 10px 0;
  font-size: 30px;
}
.right5 h5 {
  font-weight: normal;
  font-size: 25px;
  margin: 15px 0;
  padding-bottom: 20px 0;
}
.right5 h6 {
  font-weight: normal;
  font-size: 25px;
  margin: 10px 0;
  padding: 10px 0;
}
.right6 p {
  padding-bottom: 20px;
}
.right6 span {
  font-size: 25px;
  background-color: rgb(158, 158, 158);
  padding: 10px 0;
}
.right6a {
  width: 100%;
  background-color: rgb(158, 158, 158);
}
.right6b {
  width: 95%;
  background-color: rgb(97, 97, 97);
  padding: 12px 0;
  margin: 10px 0;
  text-align: center;
}
.right6 {
  padding: 20px 0;
}
.right6c {
  width: 85%;
  background-color: rgb(97, 97, 97);
  padding: 12px 0;
  margin: 10px 0;
  text-align: center;
}
.right6d {
  width: 80%;
  background-color: rgb(97, 97, 97);
  padding: 12px 0;
  margin: 10px 0;
  text-align: center;
}
.right6e {
  padding: 10px 30px;
  font-size: 20px;
  color: white;
  background-color: rgb(97, 97, 97);
  border: none;
}
.right6e:hover {
  color: black;
  background-color: rgb(196, 189, 189);
  cursor: pointer;
}
.right6f {
  margin: 10px 0;
  font-size: 30px;
  padding-top: 40px;
  padding-bottom: 10px;
}
.right7 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.right7a {
  width: 32%;
  text-align: center;
  background-color: white;
  border: 1px solid rgb(209, 206, 193);
}
.right7a1 {
  padding: 30px 0;
  font-size: 30px;
  color: white;
  background-color: black;
}
.right7a2 {
  padding: 15px 0;
  border-bottom: 1px solid rgb(209, 206, 193);
  font-size: 25px;
}
.right7a3 {
  padding: 15px 0;
  font-size: 35px;
  font-weight: bold;
}
.right7a4 {
  padding: 15px 0;
  font-size: 20px;
  color: rgb(153, 149, 145);
}
.right7a5 {
  font-size: 25px;
  padding: 10px 20px;
  background-color: rgb(0, 150, 136);
  color: white;
  border: none;
}
.right7a5:hover {
  background-color: black;
}
.right7a:hover {
  opacity: 0.6;
}
.right7aa {
  padding: 30px 0;
  font-size: 30px;
  color: white;
  background-color: rgb(0, 150, 136);
}
.khoi2 {
  width: 100%;
  background-color: rgb(158, 158, 158);
  margin-top: 50px;
}
.khoi2p {
  padding: 40px 30px;
  font-size: 30px;
  font-weight: 400;
}
.khoi2a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(197, 195, 189);
  margin: auto;
}
.khoi2a1 {
  width: 33.34333%;
  background-color: rgb(97, 97, 97);
  text-align: center;
}
.khoi2a1 i {
  font-size: 40px;
  padding-top: 20px;
  color: white;
}
.khoi2a1 p {
  color: white;
  font-size: 25px;
  padding: 15px;
}
.khoi2a2 {
  width: 33.34333%;
  background-color: rgb(0, 150, 136);
  text-align: center;
}
.khoi2a2 i {
  font-size: 40px;
  padding-top: 20px;
  color: white;
}
.khoi2a2 p {
  color: white;
  font-size: 25px;
  padding: 15px;
}
.khoi3 {
  padding: 30px;
}
.khoi3 p {
  font-size: 25px;
  padding-bottom: 6px;
  padding-top: 15px;
}
.khoi3 input {
  width: 100%;
  background-color: white;
  border: none;
  padding: 10px 0;
}
.khoi3 button {
  padding: 10px 20px;
  margin-top: 15px;
  font-size: 20px;
  color: white;
  background-color: black;
  margin-bottom: 20px;
}
.khoi3 button:hover {
  background-color: rgb(231, 240, 240);
  color: black;
}
.khoi4 {
  width: 100%;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(86, 90, 90);
}
.khoi4a {
  width: 33%;
  padding: 15px 0;
  color: white;
}
.khoi4p1 {
  padding: 30px 0;
  font-size: 30px;
  color: white;
}
.khoi4p2 {
  font-size: 25px;
  padding-bottom: 15px;
}
.khoi4p3 {
  font-size: 25px;
  padding-bottom: 15px;
}
.khoi4a a {
  color: white;
}
.khoi4b {
  width: 33%;
}
.khoi4b1 {
  display: flex;
  color: white;
  border-bottom: 1px solid darkgrey;
  padding-bottom: 15px;
  padding-left: 20px;
}
.khoi4b1 img {
  width: 30%;
  padding-right: 15px;
}
.lorem {
  font-size: 30px;
  padding: 10px 0;
}
.sed {
  font-size: 25px;
}
.khoi4b2 {
  display: flex;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
}
.khoi4b2 img {
  width: 30%;
  padding-right: 15px;
}
.khoi4c {
  width: 33%;
}
.travel {
  background-color: black;
  padding: 7px 15px;
  color: white;
  font-size: 20px;
}
.chung {
  padding: 4px 8px;
  background-color: rgb(174, 180, 180);
  font-size: 15px;
}
.khoi4c2 {
  padding-bottom: 15px;
}
.footer {
  background-color: black;
  padding: 35px 0;
  text-align: center;
}
.footer p {
  font-size: 23px;
  color: white;
}
.footer a {
  color: white;
}
.manu {
  width: 100%;
  position: fixed;
  top: 0;
  margin-bottom: 30px;
  position: relative;
  padding: 20px;
  z-index: 1;
  display: none;
}
.manu i {
  font-size: 40px;
}
.manu img {
  width: 100px;
  border-radius: 50%;
}
.manu .ad {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
}
@media screen and (max-width: 990px) {
  .lef {
    display: none;
  }
  .right {
    width: 100%;
  }
  .manu {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .right2a {
    flex-direction: column;
  }
  .right2a1 {
    width: 100%;
  }
  .ab {
    display: none;
  }
  .right4 {
    flex-direction: column;
  }
  .right4a {
    width: 100%;
  }
  .right4b {
    width: 100%;
  }
  .right7 {
    flex-direction: column;
  }
  .right7a {
    width: 100%;
  }
  .khoi2a {
    flex-direction: column;
  }
  .khoi2a1 {
    width: 100%;
  }
  .khoi2a2 {
    width: 100%;
  }
  .khoi4 {
    flex-direction: column;
  }
  .khoi4a,
  .khoi4b,
  .khoi4c {
    width: 100%;
  }
  .right {
    width: 100%;
  }
}
